<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1010354726289-00t6dl5hiip4e6g6vg40s35nv2k3h07g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010354726289-00t6dl5hiip4e6g6vg40s35nv2k3h07g</string>
	<key>API_KEY</key>
	<string>AIzaSyA-ZYDCcZ4WTS9Pigq3mvny4DTk8aCVOW4</string>
	<key>GCM_SENDER_ID</key>
	<string>1010354726289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ophd.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ophd-53b5e</string>
	<key>STORAGE_BUCKET</key>
	<string>ophd-53b5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010354726289:ios:ed6d5c0d6e1c7d14c96630</string>
</dict>
</plist>